@import "../../../styles/colors.module.scss";
@import "../../../styles/breakpoints.module.scss";

.coreCrops {
  .headerProduct {
    height: 400px;
    width: 100%;
    // background-image: url("https://assets-global.website-files.com/62551fa7bee8db16e944f95d/63171b602cce7bedd64d2086_Sahyadri%20Farms_Web%20Banner_06-09-2022-01%20\(1\).webp");
    // background-position: 50%;
    // background-repeat: no-repeat;
    // background-size: cover;
    img {
      vertical-align: middle;
      width: 100%;
    }
  }

  .coreCropsFruits {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 50px 0;
    .tomatoBox,
    .pomegranateBox {
      width: 300px;
      height: 300px;
      .tomato,
      .pomegranate {
        width: 100%;
        height: 100%;
      }
      .title {
        text-align: center;
      }
    }
  }
}
