@import "../../../styles/colors.module.scss";
@import "../../../styles/breakpoints.module.scss";

.coreCrops {
  .headerProduct {
    height: 400px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .coreCropsFruits {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 50px 0;
    .tomatoBox,
    .pomegranateBox {
      width: 300px;
      height: 300px;
      .tomato,
      .pomegranate {
        width: 100%;
        height: 100%;
      }
      .title {
        text-align: center;
      }
    }
  }
}
