@import "../../../styles/colors.module.scss";
@import "../../../styles/breakpoints.module.scss";

.signUp {
  display: flex;
  height: 100vh;
  .signUpWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    .signUpContent {
      width: 470px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      h3{
        text-transform: capitalize;
      }
      .otherSignUp {
        width: 100%;

        h2 {
          text-align: center;
          border-bottom: 3px solid $gray-300;
          line-height: 0.1em;
          margin: 10px 0 20px;
          text-transform: capitalize;
          span {
            background: $layout-bg;
            color: $gray-500;
            font-size: 17px;
            padding: 0 10px;
          }
        }
      }
      @include responsive("smDown") {
        margin: 0 25px;
        width: 100%;
      }
    }
  }
  .signUpPoster {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: $layout-nav;
  }
  @include responsive("lgDown") {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    .signUpWrapper {
      width: 100%;
    }
    .signUpPoster {
      width: 100%;
      height: 125px;
    }
  }
}
