@import "../../../styles/colors.module.scss";
@import "../../../styles/breakpoints.module.scss";

.signIn {
  display: flex;
  height: 100vh;

  .signInWrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;

    .signInContent {
      width: 470px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h3 {
        text-transform: capitalize;
      }

      .socialMedia {
        display: flex;
        margin: 10px 0;
        width: 100%;
        justify-content: center;

        .google {
          width: 100%;
          p {
            border: 1px solid $gray-400;
            border-radius: 10px;
            padding: 5px 10px;
            text-align: center;
            cursor: pointer;
            img {
              width: 35px;
              margin-right: 15px;
            }
          }

          p:hover {
            color: #1975d2;
          }
        }

        @include responsive("xsDown") {
          flex-direction: column;
        }
      }

      .otherSignIn {
        width: 100%;

        h2 {
          text-align: center;
          border-bottom: 3px solid $gray-300;
          line-height: 0.1em;
          margin: 10px 0 20px;
          text-transform: capitalize;

          span {
            background: $layout-bg;
            color: $gray-500;
            font-size: 17px;
            padding: 0 10px;
          }
        }
      }

      @include responsive("smDown") {
        margin: 0 25px;
        width: 100%;
      }
    }
  }

  .signInPoster {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: $layout-nav;
  }

  @include responsive("lgDown") {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;

    .signInWrapper {
      width: 100%;
    }

    .signInPoster {
      width: 100%;
      height: 125px;
    }
  }
}
